*{
    top: 0;
    margin: 0;
}

body{
    background-image: url("./black.jpg");
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
}

h1{
    color: rgb(0, 0, 0);
}
/* imagen ahorcado */
#ahorcado{
    height: 200px;
    width: 200px;
    left: 0;
    background-image: url("./fallo0.png");
    border-radius: 2em;
    margin-top: 2em;
    
}
/* CONTENEDOR BLANCO */
#content-main{
    margin-top: 5em;
    width: 60em;
    height: 42em;
    background-color: #ffffff;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 8px rgb(141, 125, 125);
    
}
#resultado{
    position:fixed;
    width: 100%;
    color: rgb(0, 0, 0);
    
    text-align: center;
    top: 10em;
}   
/* Giones donde van las letras */
#output{
    color: rgb(0, 0, 0);
    font-size:3em;
    margin: 2rem;
    
}
/* Boton de comprobar */
#calcular{
    color: #ffffff;
    background: #0f8117;
    border: 2px solid #0f8117;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;

}

#calcular2{
    color: #ffffff;
    background: #0f8117;
    border: 2px solid #0f8117;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: right;
    display: block;
    font-size: 16px;
    margin: 4px 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;

}

#calcular:hover {
    background-color: #126e27;
    color: white;
}

input[type=text]{
    
    width: 50%; 
    padding: 12px 20px;
    font-size: 20px;
    margin: 4px 2px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
   
    
}
::placeholder{
    color: rgb(174, 174, 174);
}