*{
    top: 0;
    margin: 0;
}

body{
    background-image: url("../black.jpg");
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
}

h1{
    color: rgb(0, 0, 0);
    margin: 1em;
}

#ahorcado{
    height: 200px;
    width: 200px;
    left: 0;
    background-image: url("../el-ahorcado.jpg");
    border-radius: 2em;
    margin-top: 2em;
    
}

#content-main{
    margin-top: 5em;
    width: 60em;
    height: 40em;
    background-color: #ffffff;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.3);
}
#resultado{
    position:fixed;
    width: 100%;
    color: rgb(0, 0, 0);
    
    text-align: center;
    top: 10em;
}   

#output{
    color: rgb(0, 0, 0);
    font-size:3em;
    margin: 2rem;
    
}
#calcular{
    color: #ffffff;
    background: #0f8117;
    border: 2px solid #0f8117;
    border-radius: 20px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    

}

#calcular:hover {
    background-color: #008CBA;
    border-color: #008CBA;
    color: white;
}

input[type=text]{
    
    width: 40%; 
    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-left: 1em;
    
}
::placeholder{
    color: rgb(174, 174, 174);
}